body {
    margin: 0%;
    background-color: blue;
}

.MainWindow {
    margin: 5%;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ButtonAndScreen {
    display: flex;
    margin: 1%;
    padding: 10%;
    background-color: red;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ColorWheel {
    border-radius: 50px;
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    margin: 15px;
}
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
.button {
    border-style: solid;
    border-width: 5px;
    background-color: white;
    margin: 5%;
    padding: 20px 40px;
    text-align: center;
}

.Screen {
    flex: 1;
    background-color: yellow;
    margin: 5%;
    width: 400px;
    height: 400px;
}